.works {
  padding: 150px 0;
  background-color: #fff;
}

.works__content {
  padding-bottom: 60px;
  @include phones {
    padding: 0 7%;
  }
}

.works__container {
  @include phones {
    width: 100%;
  }
}

.works__section-title {
  font-size: 36px;
  color: #333c49;
  font-weight: 700;
  margin-bottom: 59px;
  @include phones {
    text-align: center;
    margin-bottom: 30px;
  }
}