script(type='text/x-template')#reviews-components
  section.reviews#reviews-sec
    .reviews__top
      h3.reviews__title Что обо мне говорят
      .arrow 
        button(@click='previous').arrow__left
          +icon('arrow-down', 'arrow-left')
        button(@click='next' ).arrow__right
          +icon('arrow-down', 'arrow-rigth')
    .reviews__content  
      carousel(:navigationEnabled="true", :perPageCustom="[[180, 1],[480, 1], [768, 2]]").reviews__slider
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Сильные стороны Андрея - желание развиваться и обучаемость. Знает как правильно сформулировать и задать вопрос. Довольно сильная техническая база.
            .review__autor
              .review__autor-avatar
                +image('content/reviews/3.jpg', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Иванов Александр
                .review__autor-subtitle Senior Front-End Developer
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Он очень ответственно подходит к проверке своих работ, к тестированию и самопроверкам. Знает SCRUM. Постоянно доступен, каждый день и без выходных. С таким человеком удобно работать. 
            .review__autor
              .review__autor-avatar
                +image('content/reviews/2.jpg', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Максимов Александр
                .review__autor-subtitle Project manager
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Достаточно крепкие базовые знания по дизайну. Общаемся на одном языке.
            .review__autor
              .review__autor-avatar
                +image('content/reviews/6.jpg', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Гордеева Мария
                .review__autor-subtitle Designer 
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Проблем с тестирование его кода не было, без банальных багов, всё четко!
            .review__autor
              .review__autor-avatar
                +image('content/reviews/4.jpg', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Мальцев Фёдор
                .review__autor-subtitle QA engineer
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Он может разобраться в задаче любой сложности, если дать время.
            .review__autor
              .review__autor-avatar
                +image('content/reviews/1.jpg', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Соколов Кирилл
                .review__autor-subtitle Веб-Мастер
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Этот код выдержит любые испытания. Только, пожалуйста, не загружайте сайт на слишком старых браузерах.
            .review__autor
              .review__autor-avatar
                +image('content/reviews/sabanc.png', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Владимир Сабанцев
                .review__autor-subtitle Старший преподаватель
        slide.review
          .review__quote
            +icon('quote', 'review__quote-icon')
          .review__desc 
            .review__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 7 месяцев только самых тяжелых испытаний и бессонных ночей!
            .review__autor
              .review__autor-avatar
                +image('content/reviews/kovalc.png', 'review__autor-avatar-img')
              .review__autor-info
                .review__autor-title Ковальчук Дмитрий
                .review__autor-subtitle Основатель LoftSchool

