script(type="text/x-template")#skills-list
  .values__widget-container 
    ul.skills 
      li.skills__item(v-for="category in skills" :key="category.title")
        skills-row(:category='category')

script(type="text/x-template")#skills-row
  .skills-row 
    .skills-row__title {{category.title}}
    ul.skills-row__list
      li.skills-row__item(v-for="skill in category.skills" :key= "category.id")
        skill(:skill="skill")
        
script(type="text/x-template")#skill
  .skill 
    svg(viewBox='0 0 100 100').skill__circle-shape
      circle(cx='50' cy='50' r='40').skill__circle.skill__circle-under
      circle(cx='50' cy='50' r='40' ref='circle' stroke='url(#gradient)' transform='rotate(100 50 50)').skill__circle.skill__circle-above
      linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
        stop(offset='0%' stop-color='#4a00ed')
        stop(offset='100%' stop-color='#9308e8')
    .skill__circle-text {{skill.title}}














//- backup

//- script(type="text/x-template")#skills-list
  .values__widget-container 
    ul.skills 
      each item in ['frontend','backend']
        li.skills__item
          .skills-row 
            .skills-row__title #{item}
            ul.skills-row__list
              each tech in ['html', 'css', 'vue']
                li.skills-row__item
                  .skill 
                    svg(viewBox='0 0 100 100').skill__circle-shape
                      circle(cx='50' cy='50' r='40').skill__circle.skill__circle-under
                      circle(cx='50' cy='50' r='40' stroke='url(#gradient)' transform='rotate(100 50 50)').skill__circle.skill__circle-above
                      linearGradient(id='gradient' x1='0%' y1='0%' x2='100%' y2='0%')
                        stop(offset='0%' stop-color='#4a00ed')
                        stop(offset='100%' stop-color='#9308e8')
                    .skill__circle-text #{tech}

//- script(type="text/x-template")#skills-row

//- script(type="text/x-template")#skill