/* @import 'normolize.css'; */
@import '../styles/mixins.pcss';
@import '../styles/layout/base.pcss';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');