include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section#welcome-sec
        .parallax
          picture.parallax__layer
            source(type='image/jpg' srcset=require('images/content/aa.jpg').default)
          .parallax__layout 
            +image('content/paralax-test.png', 'parallax__image')
            //- заменить image на picture, чтобы добавить нресколько картинок под разное расширение 
        section.hero#hero
          .container
              header.header
                a(href="#about").header__logo
                  +icon('myLogo', 'logo') 
                .header__tabs
                  +navigation()
                .header__links
                  +socials
                .header__hamburger-menu.hamburger-menu#hamburger-menu
                  span.hamburger-menu__line
                  span.hamburger-menu__line
                  span.hamburger-menu__line
                .nav-mobile#nav-mobile
                  .nav-mobile__header
                    a(href="#about").header__logo.nav__link
                      +icon('myLogo', 'logo') 
                  .nav-mobile__body
                    +navigation("nav--mob")
              .hero__content
                .user-data-desc
                  .user-data-desc__first Личный сайт
                  .user-data-desc__second веб разработчика
                h1.user-data-name Алексеев Андрей
              .hero__bottom-btn
                a(href='#about').scroll-down-btn Далее 
                  +icon('scroll', 'scroll-down-btn__pic') 
        section.section-about#about
          .container
            .about
              .about__user-data
                .user-info
                  .user-info__avatar
                    .avatar 
                      +image('content/aa.jpg', 'avatar__img')
                  .user-info__content 
                    -
                      var userdata = [
                        ['проживаю', 'Санкт-Петербург'],
                        ['возраст', '26 лет'],
                        ['семейное положение', 'Женат']
                      ];
                    table.table.user-info__data 
                      tbody.user-info__data-body
                        each row in userdata
                          tr 
                            td #{row[0]} 
                            td #{row[1]}
              .about__content
                .about__disclaimer Привет! Меня зовут
                h2.about__title Андрей Алексеев
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__postscriptum
                  p Влюблен в WEB технологии с 2019 года. Интересуюсь разработкой современного веб-дзайна. Прочитал книги: 
                  ul 
                    li - Дизайн пользовательского интерфейса - Искусство мыть слона;
                    li - Хороший интерфейс - невидимый интерфейс;
                    li - Не заставляйте меня думать. Веб-юзабилити и здравый смысл;
                    li - UX-дизайн. Практическое руководство по проектированию опыта взаимодействия;
      section.values-section#values-sec
          section.values-section__content#values-sec
            .values__content
              +image('content/bg-chem-polezen.png', 'values-section__bg')
              .values__header   
                h2.title.values__title Чем я могу быть вам полезен
                p.values__description Работаю в вебе с 2020 года. Занимал должности верстальщика, веб-мастера, инженера тех поддержки в продуктовой компании. Прошел курсы в одной из замых зарекомендовавших себя онлайн-школ LoftSchool (Вертска, JS, VUE), а так же закончил комплексный курс от Coursera (Front-end developer)  
              .container.values__description
                #skills-component
              .valuses-section-pic
                +image('content/hand.png', 'valuses-section-img')
      section.works#works-sec
        .container.works__container
          .section-title.works__section-title Мои работы
          .works__content
            #slider-component
      section.feedback-sec#feedback-sec
        +image('content/bg-reviews.png', 'feedback-sec__bg')  
        .container
          div#reviews-comp-include
          section.feedback-sec__form#feedback-sec-form
            h3.feedback-sec__title.reviews__title Связаться со мной
            form.form(action="#")
              .form__row
                label.label-input(for="inputName")
                  .label-input__icon
                      +icon('user', '')
                  .label-input__data 
                    .label-input__title Введите ваше имя
                    input(type="text", required)#inputName.label-input__value
                label.label-input(for="inputEmail")
                    .label-input__icon
                        +icon('mail', '')
                    .label-input__data 
                      .label-input__title Введите ваш email/t.me/telephone
                      input(type="text", required)#inputEmail.label-input__value
              .form__row
                label.label-input(for="textarea")
                  .label-input__icon
                      +icon('message', '')
                  .label-input__data 
                    .label-input__title Сообщение к письму
                    textarea#textarea.label-input__value
              .form__row
                input(type="submit", value='Отправить')   
      footer.footer 
        .container.footer__container
          .footer__left 
            .footer__copy &#169; 2022
            .footer__my-name Алексеев Андрей
            .footer__site-name 
              span Личный сайт 
              span веб-разработчика
          .footer__right
              +navigation()
              .footer__bottom 
                .footer__desc-wrap 
                  .footer__desc Если вас заинтересовало сотрудниество, свяжитесь со мной любым удобрым способом:
                  .footer__socials 
                    +socials 
                .footer__quote-wrap 
                  .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию прихопат, который знает где вы живете
                  .footer__quote-autor Marthin Golding
    include ./templates/entry.pug




    //- +image('content/user.jpg', 'user-pic')
    //- +icon('name', 'link-class')
    //- .icon-bg
        