include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section#welcome-sec
        .parallax
          picture.parallax__layer
            source(type='image/jpg' srcset=require('images/content/aa.jpg').default)
          .parallax__layout 
            +image('content/paralax-test.png', 'parallax__image')
            //- заменить image на picture, чтобы добавить нресколько картинок под разное расширение 
        section.hero#hero
          .container
              header.header
                .header__logo
                  .logo АА 
                .header__tabs
                  +navigation
                .header__links
                  +socials
              .hero__content
                .user-data-desc
                  .user-data-desc__first Личный сайт
                  .user-data-desc__second веб разработчика
                h1.user-data-name Алексеев Андрей
              .hero__bottom-btn
                a(href='#about').scroll-down-btn Скролл  
                  +icon('scroll', 'scroll-down-btn__pic') 
        section.section-about#about
          .container
            .about
              .about__user-data
                .user-info
                  .user-info__avatar
                    .avatar 
                      +image('content/aa.jpg', 'avatar__img')
                  .user-info__content 
                    -
                      var userdata = [
                        ['проживаю', 'Санкт-Петербург'],
                        ['возраст', '26 лет'],
                        ['семейное положение', 'Женат']
                      ];
                    table.table.user-info__data 
                      tbody.user-info__data-body
                        each row in userdata
                          tr 
                            td #{row[0]} 
                            td #{row[1]}
              .about__content
                .about__disclaimer Привет! Меня зовут
                h2.about__title Андрей Алексеев
                .about__desc 
                  p Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                .about__postscriptum
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      section.values-section#values-sec
          section.values-section__content#values-sec
            .values__content
              +image('content/bg-chem-polezen.png', 'values-section__bg')
              .values__header   
                h2.title.values__title Чем я могу быть вам полезен
                p.values__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam id porro ut! Repellat, excepturi nisi? Adipisci distinctio ipsum excepturi perferendis! Dolores adipisci eum incidunt modi. Placeat suscipit iste assumenda tenetur.
              .container.values__description
                #skills-component
              .valuses-section-pic
                +image('content/hand.png', 'valuses-section-img')
      section.works
        .container.works__container
          .section-title.works__section-title Мои работы
          .works__content
            #slider-component
      section.feedback-sec
        +image('content/bg-reviews.png', 'feedback-sec__bg')  
        .container
          section.reviews#reviews-sec 
            .reviews__top
              h3.reviews__title Что обо мне говорят
              .arrow 
                btn.arrow__left
                  +icon('arrow-down', 'arrow-left')
                btn.arrow__right
                  +icon('arrow-down', 'arrow-rigth')
            .reviews__content   
              .reviews__slider 
                .review
                  .review__quote
                    +icon('quote', 'review__quote-icon')
                  .review__desc 
                    .review__text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 7 месяцев только самых тяжелых испытаний и бессонных ночей!
                    .review__autor
                      .review__autor-avatar
                        +image('content/reviews_autor-1.png', 'review__autor-avatar-img')
                      .review__autor-info
                        .review__autor-title Ковальчук Дмитрий
                        .review__autor-subtitle Основатель LoftSchool
                .review
                  .review__quote
                    +icon('quote', 'review__quote-icon')
                  .review__desc 
                    .review__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах.
                    .review__autor
                      .review__autor-avatar
                        +image('content/reviews_autor-2.png', 'review__autor-avatar-img')
                      .review__autor-info
                        .review__autor-title Владимир Сабанцев
                        .review__autor-subtitle Старший преподаватель
          section.feedback-sec__form#feedback-sec-form
            h3.feedback-sec__title.reviews__title Связаться со мной
            form.form(action="#")
              .form__row
                label.label-input(for="inputName")
                  .label-input__icon
                      +icon('user', '')
                  .label-input__data 
                    .label-input__title Введите ваше имя
                    input(type="text", required)#inputName.label-input__value
                label.label-input(for="inputEmail")
                    .label-input__icon
                        +icon('mail', '')
                    .label-input__data 
                      .label-input__title Введите ваш email
                      input(type="email", required)#inputEmail.label-input__value
              .form__row
                label.label-input(for="textarea")
                  .label-input__icon
                      +icon('message', '')
                  .label-input__data 
                    .label-input__title Сообщение к письму
                    textarea#textarea.label-input__value
              .form__row
                input(type="submit", value='Отправить')   
      footer.footer 
        .container.footer__container
          .footer__left 
            .footer__copy &#169; 2021
            .footer__my-name Алексеев Андрей
            .footer__site-name 
              span Личный сайт 
              span веб-разработчика
          .footer__right
              +navigation
              .footer__bottom 
                .footer__desc-wrap 
                  .footer__desc Этот сайт я сделал в рамках обучения в школе онлайн образования Loftschool
                  .footer__socials 
                    +socials 
                .footer__quote-wrap 
                  .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию прихопат, который знает где вы живете
                  .footer__quote-autor Marthin Golding
            
    include ./templates/entry.pug




    //- +image('content/user.jpg', 'user-pic')
    //- +icon('name', 'link-class')
    //- .icon-bg
        